<%= link_to 'Creer un nouveau cocktail', new_cocktail_path, class: 'btn btn-primary mb-5' %>

<div class="d-flex">
  <%@cocktails.each do |item| %>
    <div class="card mr-2 p-2"> <%= item.name %> <%= link_to 'show', cocktail_path(item) %> </div>
  <% end %>
</div>
