
<div class="back">
  <a href="/" ><%= icon('fas', 'chevron-left') %></a>
</div>
<div class="container show-view">
<div class="card-show">


    <div class="col1">

      <div class="cocktail-card" style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url( ); background-size: cover; background-position-y: -286px;">
        <h1>name</h1>
      </div>


      <div class="dosage">

          <h3>Composition : </h3>
          <p>

            <div class="ig-list"></div>

          </p>
        </div>
    </div>

    </div>

</div>



